[Unit]
Description=Puma HTTP Server
After=network.target

[Service]
Type=simple
User={{ ansible_user }}
WorkingDirectory={{ reddit_path }}/ui
EnvironmentFile={{ reddit_path }}/ui/ui_config
ExecStart=/bin/bash -lc 'puma'
Restart=always

[Install]
WantedBy=multi-user.target